.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.Boks {
  width: 900px;
  height: 700px;
  border: 2px solid black;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.Chat {
  flex: 9.5;                 
  border: 2px dashed red;   
  margin: 5px;
  overflow-y: auto;       
}

.Skrivefelt {
  flex: 0.5;                 
  border: 2px dashed blue;  
  margin: 5px;
}

.Skrivefelt input {
  width: 90%;               
  padding: 10px;
}

.Skrivefelt button {
  padding: 10px;
}

.Bruker {
  text-align: right;
  background-color: lightgray;
  padding: 10px;
}

.Ai {
  text-align: left;
  background-color: gray;
  padding: 10px;
}